.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    padding: 1rem 0;
    background-color: #5F8B4C;
}

.main-nav {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}